<h1>Electives Search</h1>
 
<%= form_for search_path, method: :get do |f| %>
  <p>
    <%= f.label "Search for" %>
    <%= text_field_tag :q, params[:q] %>
    <%= submit_tag "Go", name: nil %>
  </p>
<% end %>
 
<ul>
  <% @electives.each do |elective| %>
    <li>
      <h3>
        <%= link_to elective.name, controller: "electives", action: "show", id: elective._id%>
      </h3>
    </li>
  <% end %>
</ul>
